.wrapper{
    margin: 20px;
}

/* .content_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.title{
    margin-bottom: 10px;
}

.subtitle{
    margin: 10px 0;
}

/* Content Wrapper */
.content_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 18px;
}

@media (max-width: 600px){
    .content_wrapper{
        grid-template-columns: 1fr;
    }
}