.wrapper{
    margin: 10px;   
    padding: 10px;
    height: 580px;
    border-radius: 20px;
    background-color: #ddd;
}

.create_wrapper{
    padding: 10px;
    
}

#challenge_name{
    width: 100%;
}

#deadline{
    width: 100%;
}

#challenge_content{
    width: 100%;
}

.btn_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#createbtn{
    width: 160px;
    height: 30px;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
}

#cancelbtn{
    width: 160px;
    height: 30px;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
}

