.container{
    margin: 0 30px;
}

@media screen and (max-width: 480px) {
    .container{
        margin: 0;
    }
}

@media screen and (min-width: 920px) {
    .container{
        margin: 0 200px;
    }
}