/* .wrapper{
    margin: 10px;
    padding: 10px;
    border-radius: 18px;
    background-color: #888;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* Wrapper 스타일 */
.wrapper {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header 스타일 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.participant {
    font-size: 0.9em;
    color: #777;
}

/* Body 스타일 */
.body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    height: 150px;
    background-color: #eee;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 1em;
    margin-bottom: 10px;
}

.organizer {
    font-size: 0.9em;
    color: #555;
}

@media (max-width: 600px){
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .participant{
        margin-top: 10px;
    }
}