.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    font-weight: bold;
}

.logo:hover{
    color: chocolate;
    transition: color .2s;
}